h1 {
  border-radius: 59px 59px 59px 59px;
   moz-border-radius: 59px 59px 59px 59px;
   webkit-border-radius: 59px 59px 59px 59px;
   border: 10px double #ffffff;
   text-align: center;
}

.navbar-brand {
  color:white;
}

.nav-link {
  color:white;
}

#imagenNasa {
  width: 100px;
}

.comentario2 {
  margin-left: 20px;
  font-size: 16px;
  font-style: italic;
  text-align: justify;
}

.botoncoment {
  margin-left: 1264px;
}

.Paula {
  color: white;
  font-style: italic;
  text-align: justify;
  margin-left: 20px;
  }
.coment {
  border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 30px 30px 30px 30px;
border: 4px solid #ffffff;
}
.Paco {
  color: white;
  font-style: italic;
  text-align: justify;
  margin-left: 20px;
}

.Ángela {
  color: white;
  font-style: italic;
  text-align: justify;
  margin-left: 20px;
}
.mail{
  font-size: 16px;
  font-style: italic;
}
