.distancia3 {
  text-align: center;
}

#imagenNasa {
  width: 100px;
}

.navbar-brand {
  color:white;
}

.nav-link {
  color:white;
}

h1{
  border-radius: 59px 59px 59px 59px;
   moz-border-radius: 59px 59px 59px 59px;
   webkit-border-radius: 59px 59px 59px 59px;
   border: 10px double #ffffff;
   text-align: center;
}

.navbar-brand {
  color:white;
}

.nav-link {
  color:white;
}
.centrar {
  text-align: center;
}

.video {
  padding-top: 40px;
  margin-left: 400px;
}
.comentario {
color: white;
border-radius: 63px 63px 63px 63px;
-moz-border-radius: 63px 63px 63px 63px;
-webkit-border-radius: 63px 63px 63px 63px;
border: 7px double #ffffff;
}

.mail{
  font-size: 16px;
  font-style: italic;
}
